@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --bluemainBG: hsl(217, 54%, 11%);
    --bluecardBG: hsl(216, 50%, 16%);
    --blueline: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --fonteDestaque: "Outfit", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--bluemainBG);
}

main {
    background-color: var(--bluecardBG);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 400px;
    color: white;
    font-family: var(--fonteDestaque);
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.banner {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.texto {
    color: var(--Softblue);
    font-size: 1.2em;
}

.valores{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.info {
    display: flex;
    align-items: center;
}

.valores__esquerda {
    color: var(--Cyan);
    font-weight: 600;
}

.valores__direita {
    color: var(--Softblue);
    text-align: right;
}

hr {
    border: none;
    border-top: 2px solid var(--blueline);
}

.avatar {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    color: var(--Softblue);
}

.avatar > img {
    width: 10%;
    height: auto;
    padding-right: 20px;
}

.avatar > p > strong {
    color: white;
    font-weight: 600;
}

.avatar > p > strong:hover {
    color: var(--Cyan);
}